@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary-light: #a1d0be;
  --color-primary: #43A17E;
  --color-primary-dark: #2e7058;
  --color-primary-darker: #21503f;

  --color-secondary: #ffc116;
  --color-secondary-light: #ffe08a;
  --color-secondary-dark: #cc9a11;
  --color-secondary-darker: #7f600b;
  --color-background: #F0F7F4;
  --color-background-darker: #d8dedb;
  --color-text-primary: #183A37;
  --color-accent: #fe4e00;
  --color-accent-dark: #b13600;

  --font-greek: "Caesar Dressing", "system-ui";
  --font-montserrat: "Montserrat", "sans-serif";
  --font-poppins: "Poppins", "sans-serif";

  --animate-pong-ball: pong-ball 5s ease-in-out infinite;
  --animate-paddle-left: paddle-left 5s ease-in-out infinite;
  --animate-paddle-right: paddle-right 5s ease-in-out infinite;
}

@keyframes pong-ball {
  0% {
    left: 10px;
    top: 50%;
  }
  50% {
    left: calc(100% - 25px);
    top: 65%;
  }
  100% {
    left: 10px;
    top: 50%;
  }
}

@keyframes paddle-left {
  0%,
  4% {
    transform: translateY(-50%) translateY(50px);
  }
  8%,
  92% {
    transform: translateY(-50%) translateY(30px);
  }
  90% {
    transform: translateY(-50%) translateY(40px);
  }
  100% {
    transform: translateY(-50%) translateY(50px);
  }
}

@keyframes paddle-right {
  0%,
  40% {
    transform: translateY(-50%) translateY(30px);
  }
  
  50% {
    transform: translateY(-50%) translateY(80px);
  }
  55%,
  100% {
    transform: translateY(-50%) translateY(30px);
  }
}

.text-stroke {
  /* -webkit-text-stroke: 2px rgba(57, 103, 51, 0.8); */
  -webkit-text-stroke: 2px #2e3a29;
}

/* Default margin */
.modal-content {
  margin-right: 5px;
}

/* Adjust margin for smaller screens */
@media (max-width: 768px) {
  .modal-content {
    margin-right: 4px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    margin-right: 4px;
  }
}

#search-results {
  width: 100%; /* Match the width of the search bar */
  max-height: 200px; /* Limit the height of the dropdown */
  overflow-y: auto; /* Add scroll if results exceed max height */
}

#search-results li {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

#search-results li:hover {
  background-color: #f3f4f6; /* Light gray hover effect */
}

#search-results img {
  width: 2rem; /* Match the height of the search bar */
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}