@import "tailwindcss";

@theme {
  --color-primary-light: #d3f3ef;
  --color-primary: #93E1D8;
  --color-primary-dark: #49706c;

  --color-secondary: #DDFFF7;
  --color-background: #fff7f3;
  --color-text-primary: #253031;
  --color-accent: #fe019a;
}

.text-stroke {
  -webkit-text-stroke: 2px rgba(255, 45, 209, 0.5);
}

/* Custom text shadow utilities */
.text-shadow-lilac {
  text-shadow:
    2px 2px 4px rgba(137, 107, 127, 0.8),
    0 0 40px rgba(137, 107, 127, 0.2);
}
